/* Apply global */
.alert-error {
	background-color: #F44336;
	color: #fff;
}
.notification {
	display: none;
}
.has-success .input-group-addon, .has-warning .input-group-addonl, .has-error .input-group-addon{
	background-color: white;
}
.fg-float.has-success .fg-label {
	color: #67bd6a;
}
.fg-float.has-warning .fg-label {
	color: #ffa829;
}
.fg-float.has-error .fg-label {
	color: #f6675d;
}
.fg-label.required::after {
	content: " *";
	color: #f33a2c;
	/*font-weight: bold;*/
}
.fg-line:not([class*=has-]).fg-toggled .fg-label {
	color: #2196F3;
}
.fg-float .fg-inputted .fg-label {
	top: -20px;
	font-size: 11px;
}

/* Home page only */
@media (min-width: 1280px) {
	#footer.footer-alt {
		padding-left: 0;
	}
}
.lcb-navigation a[data-ma-block="#l-activation"]:hover {
	width: 105px;
}
.lcb-navigation a[data-ma-block="#l-backtohome"]:hover {
	width: 125px;
}

/* HR with center text */
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	/* use the linear-gradient for the fading effect */
	/* use a solid background color for a solid bar */
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;

	padding: 0 .5em;
	line-height: 1.5em;
	/* this is really the only tricky part, you need to specify the background color of the container element... */
	color: #818078;
	background-color: #fcfcfa;
}

#google-signin {
	margin: auto;
	display: inline-block;
}

#content.content-full {
	margin: 0 auto;
	padding: 0 15px;
}

/* Ajax Loader */
#ajax-loader {
	display: none;
	position: fixed;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
}
#ajax-loader .preloader {
	width: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -55px;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
#ajax-loader .preloader p {
	white-space: nowrap;
	position: relative;
	left: -9px;
	top: 22px;
	color: #CCC
}