body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.add-service {
    float: right;
}

.lh-60 {
    line-height:60px;
}
.text-center {
    text-align: center;
}

input {
    padding-left:3px!important;
}

.error {
    background: #e457574f;
}

.min-500-max-500 {
    min-height: 500px;
    max-height: 500px;
}

.qr-code {
    text-align:center;
}

.card-header > small {
    color:#f3e9e9;
}

/* Vinpearl Navbar */
.hi-logo a {
    color: #f2b317!important;
    font-size: 21px;
}
#header .hi-logo a {
    padding: 13px 10px;
}

.zmdi-2x {
    font-size: 20px;
    padding-right: 5px;
    color: #f6b816;
}

.btn-warning {
    color: #2d3c8c!important;
    background-color: #f6b716!important;
}